
<!DOCTYPE html>
<html>
  <head>
    <title>ssslack</title>
    <link rel="stylesheet" href="/style.css" media="screen" title="" charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <article class="snippet">
      <% snippet.get('messages').forEach(function(message){ %>
        <div class="message">
          <% if (message.imageUrl) { %>
            <img class="image" src="<%= message.imageUrl %>"/>
          <% } %>

          <div class="right">
            <span class="sender">
              <%= message.sender %>
            </span>

            <span class="timestamp">
              <%= message.timestamp %>
            </span>

            <span class="content">
              <%= message.content %>
            </span>
          </div>
        </div>
      <% }) %>
    </article>
  </body>
</html>
