
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>ssslack</title>

    <link rel="stylesheet" href="/style.css" media="screen" title="" charset="utf-8">
    <link href='//fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link rel="icon" href="favicon.png">
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main id="root">
      <article class="snippet">
        <% snippet.get('messages').forEach(function(message){ %>
          <div class="message">
            <% if (message.imageUrl) { %>
              <img class="image" src="<%= message.imageUrl %>"/>
            <% } %>

            <div class="right">
              <span class="sender">
                <%= message.sender %>
              </span>

              <span class="timestamp">
                <%= message.timestamp %>
              </span>

              <span class="content">
                <%= message.content %>
              </span>
            </div>
          </div>
        <% }) %>
      </article>
    </main>

    <footer>
      <a href="https://github.com/uiureo/ssslack" target="_blank">
        ssslack
      </a>
    </footer>

    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
