* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  background: #f8f8f8;
  margin: 0;
}

.message {
  position: relative;
  font-size: 15px;
  line-height: 22px;
  color: #3d3c40;
  word-wrap: break-word;
  min-height: 60px;
  padding-left: 48px;
}

.sender {
  font-weight: 900;
}

.content {
  display: block;
}

.timestamp {
  color: #babbbf;
  font-size: 12px;
  margin-left: 6px;
}

.message .image {
  position: absolute;
  left: 0;
  top: 4px;

  width: 36px;
  height: 36px;

  border-radius: 2px;
}

.snippet {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  padding: 12px 18px;
  width: 60%;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .snippet {
    width: 98%;
  }
}
