.message {
  position: relative;
  font-size: 15px;
  line-height: 22px;
  color: #3d3c40;
  word-wrap: break-word;
  height: 60px;
  padding-left: 48px;
}

.sender {
  font-weight: 900;
}

.content {
  display: block;
}

.message .image {
  position: absolute;
  left: 0;
  top: 4px;

  width: 36px;
  height: 36px;

  border-radius: 2px;
}
